# Temp Microdoft files
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# Altium Designer
project_file/History/*
project_file/__Previews/*
project_file/Project Logs for project_file/*
History
__Previews
*.PrjPCBStructure
*.PrjPcbStructure

*.SchDocPreview
*.PcbDocPreview
Project Outputs for *
Project Logs for *


